.slider-container {
  padding: 40px 0;
  background: #f8f9fa;
}

.center-slide {
  transform: scale(1);
  transition: 0.3s;
}

.slick-slide {
  padding: 0 10px;
  opacity: 0.5;
  transform: scale(0.8);
  transition: 0.3s;
}

.slick-center {
  opacity: 1;
  transform: scale(1);
}

.card {
  transition: 0.3s;
  cursor: pointer;
  max-width: 300px; /* Menambahkan max-width untuk mengecilkan card */
  margin: 0 auto; /* Untuk menengahkan card */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.modal-img {
  width: 100%;
  height: auto;
}

.card-img-top {
  height: 200px; /* Mengatur tinggi gambar card */
  object-fit: cover; /* Memastikan gambar menutupi area dengan baik */
}

/* Mengatur container galeri agar lebih kecil */
.gallery-container {
  max-width: 900px;
  margin: 0 auto;
}
